Twisted
Pillow
WebTest
boddle
bottle
coverage
cryptography
jinja2
localmail
lxml
opencv-python
py3DNS
pylint
pymysql
pytest
pytest-cov
pytest-env
pytest-html>=4.0.2
pytest-mock
requests
validate_email_address
aiosmtplib
tabulate
webdriver-manager
selenium
pytest-selenium
