<!DOCTYPE html><!-- -*- mode: html -*- -->
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="ai,IoT,cybersecurity"/>
    <meta name="description" content="PlantTracer Camera"/>
    <meta name="google"   content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <link rel="icon" href="/static/favicon.png" type="image/png"/>
    <!-- use Pure.css - https://purecss.io/ -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="/static/site.css" />
    <link rel="stylesheet" href="/static/infobox.css" />
    {% block head %}{% endblock head %}
    {% block script %}{% endblock script %}
  </head>
  <body lang="en-US">
    <header>
      <!-- menu changes if we are authenticated or not -->
      <div class="pure-menu pure-menu-horizontal">
        <a href="." class="pure-menu-heading pure-menu-link">Harvard CSCI E-11</a>
        <ul class="pure-menu-list">
          {% block menu %}{% endblock menu %}
          <li class="pure-menu-item"> <a href="/" class="pure-menu-link">Camera</a> </li>
          <li class="pure-menu-item"> <a href="/about" class="pure-menu-link">About</a> </li>
          <li class="pure-menu-item"> <a href="https://github.com/PlantTracer/webapp" class="pure-menu-link">Github</a>
          </li>
        </ul>
      </div>
    </header>

    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>

    <div class="footer">
      <div class="pure-u-1 u-sm-1-2">
        <p id="copyright" class="legal-license">Copyright © 2024-2025 Simson L. Garfinkel </p>
        <hr/>
      </div>
    </div>
  </body>
</html>
