{% extends "base.html" %}
{% title content %} PlantTracer Camera {% endblock title %}
{% block content %}
<h1>PlantTracer Camera</h1>

This form is for debugging.
<form action="/api/v1/start-camera">
  <label for="api_key">api_key:</label><br>
  <input type="text" id="api_key" name="api_key" ><br>
  <label for="movie_id">movie_id:</label><br>
  <input type="text" id="movie_id" name="movie_id" ><br>
  <label for="spf">Seconds per frame:</label><br>
  <input type="number" value="60" min="1" max="60" id="spf" name="spf" ><br><br>
  <input type="submit" value="Start">
</form>


{% endblock content %}
