{
  "parserOptions": {
   "ecmaVersion": 11,
       "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "API_BASE": "readonly",
    "api_key": "readonly",
    "demo_mode": "readonly",
    "Chart": "readonly"
  }
}
