<!-- -*- mode: html -*- -->
{% extends 'base.html' %}

{% block body %}
<h2> Welcome! </h2>

<p><i>Plant Tracer</i> is an application designed to enable the analysis of plant movement from time-lapse movies. Use Plant Tracer as part of a crowd-sourced method to search for novel mutant plants that do not move properly. This will help the scientific community identify new genes involved in plant movement and help reveal the genetic signals regulating plant movement.</p>

<p>
Little is known about plant movement. More is known about gravitropism, the response of plants to gravity. Less is known about circumnutation, the continuous waving motion in plant parts (leaves, flowers, shoots) that was described by Charles Darwin over 100 years ago. Identification of mutant Arabidopsis (the genetic model plant) lines that are abnormal in plant movement sets the stage to understand the mechanics of plant movement.
</p>

<p class='demo'>
  You are currently logged in as the Plant Tracer Demo user. You have
  limited functionality in this mode. For full functionality, please
  log in as a full user.
</p>
<p class='nodemo'>
  You are not in demo mode.
</p>

<a href='/tos'>Terms of Service</a>

{% endblock %}
