<!-- -*- mode: html -*- -->
{% extends 'base.html' %}


{% block body %}
<div id='load_message'><b>{{load_message}}</b></div>

<style>
tr.you {
  color: blue;
}

div.mtable table {
 border:1px solid black;
 border-collapse:collapse;
}

div.mtable input[type=checkbox] {
   color:black;
   background-color: yellow;
   padding: 3px;
}

// table headers for the movie tables.
div.mtable th {
// border:1px solid red;
}

div.mtable td {
 border:1px solid blue;
 padding: 3px;
}

div.mtable td.check {
 text-align:center;
}

input[type=checkbox] {
 width: 20px;
 height: 20px;
}

</style>

<div class='demo'>
  <p><b>Plant Tracer Demo</b></p>
  <p><i>This page lists the movies that have been uploaded to the system.</i></p>
</div>

<div class='nodemo'>
  <h2>User Info </h2>

  <div class='pure-control-group'>
    <label for='name'>Name</label>
    <span  id='user-name'  x-user_id='{{user_id}}' x-property='name' >{{user_name}}</span>
    <span class='editor'   x-target-id='user-name' onclick='row_pencil_clicked(this)'> ✏️  </span>
    <span class="pure-form-message-inline">required; click pencil to change</span>
  </div>

  <div class='pure-control-group'>
    <label for='email'>Email Address</label>
    <span id='user-email' x-user_id='{{user_id}}' x-property='email'>{{user_email}}</span>
    <span class='editor'  x-target-id='user-email' onclick='row_pencil_clicked(this)'> ✏️  </span>
    <span class="pure-form-message-inline">required; click pencil to change</span>
  </div>
</div>


  <h2 class="nodemo">Your Movies</h2>
  <h2 class="demo">Demo Movies</h2>
  <p class="nodemo">
    (<a href="upload">click here to upload a new movie</a>)
  </p>

  <div class="nodemo">
  <h3>Published</h3>
  <p class='instructions'><i>Published movies can be viewed by anyone in
      your course. Click the 'unpublish' button to unpublish a
      movie. Click the 'delete' button to delete a movie.</i></p>
  <div class='mtable' id='your-published-movies'></div>
</div>
<div class='nodemo'>
  <h3>Unpublished</h3>
  <p class='instructions'><i>Unpublished movies can only be seen by you
      and the course admins. Only the course admins can
      publish a movie. Click the 'delete' button to delete a movie.</i></p>
  <div class='mtable' id='your-unpublished-movies'></div>
</div>

<h3 class='nodemo'>Course movies for {{primary_course_name}}</h3>
<p class='instructions nodemo'><i>These are the course movies available to you from other students in your course.</i></p>
<p class='instructions nodemo'> Students can only see the published movies of
    other students in this course, while the course admins can see all of the movies. </p>

{% if admin %}
<p class='instructions'>Admins can publish or unpublish movies by pressing the PUBLISH or UNPUBLISH buttons, respectively. Admins cannot delete or undelete movies; only
students can delete or undelete their own movies.</p>
{% endif %}
<div class='mtable' id='course-movies'></div>

<div class='nodemo'>
  <h3>Deleted</h3>
  <p class='instructions'>
    <i>Deleted movies will be automatically purged
      after two weeks.  To restore a movie, uncheck its 'deleted' box.</i></p>
  <div class='mtable' id='your-deleted-movies'></div>
</div>

<script>
$( document ).ready( function() {
   list_ready_function();
});
</script>
{% endblock %}
