<!-- -*- mode: html -*- -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<h1>Plant Movie Analyzer</h1>

<p><i>Please see the <b>Plant Motion Analysis</b> instructions at the bottom of this page. Scrolling might be necessary.</i></p>

<style>
  {% include 'tracer_app.css' %}

.dot {
  text-align:center;
  font-size:32px;
  position:relative;
  line-height:0px;
}
</style>

<h2 id='firsth2'>Movie Loading...</h2>

{% include 'tracer_app.html' %}

<br/>
<div style="float:left" id="explain">
<h3>Plant Motion Analysis</h3>

<p class='demo'>
    In demo mode, you may only play an already tracked movie. You may also move markers,
    but the movement won't be saved.

    When logged in as a user (not in demo mode), you may add and delete markers, position them and
    have their new positions saved,
    and track and re-track movies. When in demo mode, these features are disabled.
</p>

<p>To analyze the motion of the plant in the video:</p>
<ul>
  <li>Place the Apex marker on the plant's apex</li>
  <li>Move the Ruler markers to the corresponding parts of the ruler in the video (if there is a ruler in the video)</li>
  <li>Press the <i>Track movie</i> or <i>Re-track movie</i> button to initiate tracking</li>
</ul>

<p>You may add additional markers to track additional points of interest.</p>

<p>
    Once the movie is tracked, you may play the tracked movie using the controls on the movie player
    section of the page. You may play the whole movie from the current point, step forwards or backwards
    one frame at a time, or go to a specified frame.
</p>

<p>
    If you notice that tracking a given marker has not been successful for the entire length of
    the movie, go find the frame where tracking is lost, re-position the marker, and press <i>Re-track movie</i>
    to re-track from that point forward. You may have to repeat this process.
</p>

<h3>Units and Conventions</h3>

<p>
  Pixel coordinates are relative to the origin point (0,0) in the top left corner of the frame. Coordinate values increase from left to right and top to bottom.
</p>

<p>
    In the Marker Table <em>Location (mm)</em> column, millimeter values are expressed as millimeters from the top left corner of the frame.
</p>

<p>
    In the <em>Time vs Position </em>line graphs, the X Position and Y Position values are
    distances from the Apex marker's location in frame 0.
</p>

<p>
    This version of PlantTracer does not calculate or display the time elapsed in the uploaded videos. Please refer to the <a href="https://plant-tracer.github.io/webapp/UserTutorial.html">Help</a> for an example of how to calculate time in seconds from the frame values provided.
</p>
</div>

<script type='module'>
  // This draws three dragable objects and adds some text.
  import { CanvasController, CanvasItem, Marker, WebImage } from "./static/canvas_controller.mjs";
  import { MovieController } from "./static/canvas_movie_controller.js";
  import { TracerController, trace_movie } from "./static/canvas_tracer_controller.js";
  let params = new URLSearchParams(window.location.search);

  // When the document loads, run the trace_movie() functions.
  $( document ).ready( function() {
    trace_movie('div#tracer', params.get('movie_id'), api_key);
  });


</script>
{% endblock %}
