<!DOCTYPE html><!-- -*- mode: html -*- -->
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="https://planttracer.com/favicon.png" type="image/png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google"   content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title> {% block title %} {{title}} {% endblock %} </title>

    <!-- use Pure.css - https://purecss.io/ -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />

    <script type="text/javascript" charset="utf8" src="static/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="static/planttracer.js"></script>

    <script>
      // These variables will be substituted by the template engine
      console.log("hello1");
      const version = '{{version}}';
      const API_BASE = "{{API_BASE}}";
      const STATIC_BASE = "{{STATIC_BASE}}";
      {% if logged_in %}
      const api_key = "{{api_key}}";
      const user_id = "{{user_id}}";
      const user_demo = {{user_demo}}; // set true if we are in demo mode
      const user_primary_course_id   = "{{user_primary_course_id}}";
      const primary_course_name = "{{primary_course_name}}";
      const MAX_FILE_UPLOAD = {{MAX_FILE_UPLOAD}};
      {% else %}
      const api_key = null;
      const user_id = null;
      const user_demo = null;
      const user_primary_course_id = null;
      const primary_course_name = null;
      {% endif %}
      {% if admin %}
      const admin = true;
      {% else %}
      const admin = false;
      {% endif %}

      console.log("hello2");
    </script>

    <style>
      html {
      margin-left: 20px;
      margin-right: 20px;
      }
    </style>

    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
  </head>

  <body lang='en-US' style='background:white'>
    <header>
      <!-- menu changes if we are authenticated or not -->
      <div class="pure-menu pure-menu-horizontal">
        {% if admin %}
        <b> ADMIN </b>
        {% endif %}
        <!-- Note - URLs cannot begin with '/' because that assumes
          that deployment will be in root of the domain. That
          doesn't happen when deploying in a AWS Lambda domain followed
          by a prefix such as Prod/ or Test/.
          -->
        <a href="." class="pure-menu-heading pure-menu-link">PlantTracer</a>
        <ul class="pure-menu-list">
          {% if logged_in %}
          <li class="pure-menu-item">
            <a href="list" class="pure-menu-link">Movies</a>
          </li>
          {% if not user_demo %}
          <li class="pure-menu-item">
            <a href="upload" class="pure-menu-link">Upload</a>
          </li>
          <li class="pure-menu-item">
            <a href="users" class="pure-menu-link">Users</a>
          </li>
          {% endif %}
          <li class="pure-menu-item">
            <a href="audit" class="pure-menu-link">Audit</a>
          </li>
          {% endif %}
          {% if not logged_in %}
          <li class="pure-menu-item">
            <a href="register" class="pure-menu-link">Register</a>
          </li>
          <li class="pure-menu-item">
            <a href="resend" class="pure-menu-link">Resend</a>
          </li>
          {% endif %}
          <li class="pure-menu-item">
            <a href="about" class="pure-menu-link">About</a>
          </li>
          <li class="pure-menu-item">
            <a href="privacy" class="pure-menu-link">Privacy</a>
          </li>
          {% if not user_demo %}
          {% if logged_in %}
          <li class="pure-menu-item">
            <a href="logout" class="pure-menu-link">Logout</a>
          </li>
          {% else %}
          <li class="pure-menu-item">
            <a href="login" class="pure-menu-link">Login</a>
          </li>
          {% endif %}
          {% endif %}
          <li class="pure-menu-item">
            <a href="https://plant-tracer.github.io/webapp/UserTutorial.html" class="pure-menu-link">Help</a>
          </li>
        </ul>
      </div>
    </header>

    {% if logged_in %}
    <div>
      {{user_name}} ({{user_id}}) Course: {{primary_course_name}}
    </div>
    {% endif %}

    <div id='message' class='alert'><b>{{message}}</b></div>

    <div class='content'>
    {% block body %}
    {% endblock %}
    </div>

    <div class='footer'>
      <div class='pure-u-1 u-sm-1-2'>
        <p id="copyright" class="legal-license"><a href='tos'>Copyright &#169; 2023-2025</a></p>
        <hr/>
        <p><small>
            {% if user_demo %}
            <b>demo mode</b>
            {% endif %}
            ver {{version}} {{git_branch}} {{git_last_commit}} {{git_head_time}} </small></p>
      </div>
    </div>
    <script>

      // demo mode: show the 'demo' CSS class and hide the 'nodemo'
      // not demo mode: hide the 'demo' CSS class and show the 'nodemo'
      // if we are in demo mode.
      console.log("hello3");
      $( document ).ready( function() {
        if (user_demo) {
          $('.demo').show();
          $('.nodemo').hide();
        } else {
          $('.demo').hide();
          $('.nodemo').show();
        }
      });
    </script>
  </body>
</html>
