### /etc/systemd/system/gunicorn.service ###
[Unit]
Description=Planttracer {name} to serve Flask application
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory={base}
Environment="PATH={base}/venv/bin"
Environment="PLANTTRACER_CREDENTIALS={base}/deploy/etc/credentials-{name}.ini"
Environment="PLANTTRACER_S3_BUCKET=s3://planttracer-prod/"
Environment="{demovar}={demoval}"
Environment="DYNAMODB_TABLE_PREFIX=m1-"
ExecStart={base}/venv/bin/gunicorn -w 2 -b 127.0.0.1:{port} \
			  --access-logfile /home/ec2-user/logs/planttracer-{name}-access.log \
			  --error-logfile /home/ec2-user/logs/planttracer-{name}-error.log \
			  --reload deploy.app.bottle_app:app

Restart=always
RestartSec=1
StandardOutput=append:/home/ec2-user/logs/planttracer-{name}-stdout.log
StandardError=append:/home/ec2-user/logs/planttracer-{name}-stderr.log
[Install]
WantedBy=multi-user.target
