### /etc/systemd/system/gunicorn.service ###
[Unit]
Description=Planttracer {name} to serve Flask application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory={base}
Environment="PATH={base}/venv/bin"
Environment="PLANTTRACER_CREDENTIALS={base}/deploy/etc/credentials-{name}.ini"
Environment="PLANTTRACER_S3_BUCKET=planttracer-prod"
Environment="{demovar}={demoval}"
Environment="DYNAMODB_TABLE_PREFIX=m1-"
Environment="AWS_REGION=us-east-1"
ExecStart={base}/venv/bin/gunicorn -w 2 -b 127.0.0.1:{port} \
			  --access-logfile /home/ubuntu/logs/planttracer-{name}-access.log \
			  --error-logfile /home/ubuntu/logs/planttracer-{name}-error.log \
			  --reload deploy.app.bottle_app:app

Restart=always
RestartSec=1
StandardOutput=append:/home/ubuntu/logs/planttracer-{name}-stdout.log
StandardError=append:/home/ubuntu/logs/planttracer-{name}-stderr.log
[Install]
WantedBy=multi-user.target
