<!-- -*- mode: html -*- -->
{% extends 'base.html' %}

{% block body %}

<h2> Plant Tracer Privacy Policy</h2>

<p>Plant Tracer is a project
  of <a href='https://www.pace.edu/profile/eric-brenner'>Associate
    Professor Eric Brenner</a> and <a href='https://www.pace.edu/'>Pace
    University</a>.  As such, the privacy policy of this website and
  the Plant Tracer app are covered by
  the <a href='https://www.pace.edu/website-privacy-policy'>Pace
    University Website Privacy Policy</a>, with the following additions
  and exceptions:</p>

<h3> Additions to the Pace Privacy Policy</h3>

<ol>

  <li> Users may authenticate using either <a href='https://cloud.google.com/docs/authentication'>Google Authentication</a> or email (you are sent a clickable link).</li>

  <li> For users that authenticate using Google, Google will provide us with your Google username. We use this to tag your contributions so that you can delete them in the future if you wish,
    and so that faculty can indicate the students in classes that they teach.</li>

  <li> For users that authenticate using email, we will retain your email address.</li>

  <li> For all users, we maintain the public IP address of your web browser when you interact with this website, as well as the time of each interaction. We also maintain any data that you upload (such as plant videos), and any metadata that you provide (such as the titles of the plant videos).</li>

  <li> You can use this website without authenticating, but you cannot
    upload new content without authenticating.</li>
</ol>

<h3> Exceptions to the Pace Privacy Policy</h3>

<p>This website is not covered by the copyright claim in the Pace Privacy Policy.</p>

<h1> Personal Data</h1>

Personal data is confined to email addresses, IP addresses, timestamps of usage, and personal data present in data and metadata uploaded to the website by users.

<h2> “DO NOT SELL OR SHARE MY PERSONAL INFORMATION” AND “TARGETED ADVERTISING” OPT-OUT RIGHTS</h2>

<p>Some states provide residents or, in some cases, their authorized agents, with the right to opt out of the “selling” or “sharing” of their personal information, or of “targeted advertising” based on their personal information.</p>

<p>This website does not engage in interest-based advertising and does not implement social media tools applicable state laws as “targeted advertising,” or a “sale” or “sharing” of personal information. Therefore, there is no way to submit a request to opt out of targeted advertising, or the sale or sharing of your personal information, since this website does not engage in these practices.</p>

<p>Please note that your opt-out choice is specific to this digital property but is not specfic to the device and browser you are using. If you access other digital properties, you will need to make a separate election for each. Also, if you clear your cookies on your browser or use another browser or device, that will have no impact on this website, because this website does not use cookies. We find cookies annoying to program and do not wish to create cookie banners.</p>

<h1> Disclaimer</h1>
<p>Pursuant to Article 52 of the EU AI Act, please be aware that this message comes from a low-risk “AI” system and not a human. All AI systems pose risks, including but not limited to spreading misinformation, causing emotional manipulation, engaging in invidious discrimination, the mis-operation of lethal autonomous weapons systems, the rendering useless of humanity, and/or a mass extinction event from misaligned superintelligence. Any information produced by this system must be processed with the highest caution. Pace Univeristy disclaims any claims made by this system. Do not rely on any information conveyed here without verifying it. You have no rights under Article 22 of the GDPR to object to this system, because uploading data to this system is explicit consent to automated processing, including profiling. This system is not pre-registered in China; users in China are not authorized to use this system.</p>

{% endblock %}
