<!-- -*- mode: html -*- -->
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
{% endblock %}


{% block body %}

<div id='message' class='alert'><b>{{message}}</b></div>

<h1>Plant Movie Analyzer</h1>

<style>
  {% include 'tracer_app.css' %}

  .dot {
  text-align:center;
  font-size:32px;
  position:relative;
  line-height:0px;
}
</style>

<h2 id='firsth2'>Movie Loading...</h2>

{% include 'tracer_app.html' %}

<script type='module'>
  // This demo draws three dragable objects and adds some text.
  import { CanvasController, CanvasItem, Marker, WebImage } from "./static/canvas_controller.js";
  import { MovieController } from "./static/canvas_movie_controller.js";
  import { TracerController, trace_movie } from "./static/canvas_tracer_controller.js";
  let params = new URLSearchParams(window.location.search);
  trace_movie('div#tracer', params.get('movie_id'), api_key);
</script>
{% endblock %}
