<!-- -*- mode: html -*- -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<h1>Plant Movie Analyzer</h1>

<style>
  {% include 'tracer_app.css' %}

.dot {
  text-align:center;
  font-size:32px;
  position:relative;
  line-height:0px;
}
</style>

<h2 id='firsth2'>Movie Loading...</h2>

{% include 'tracer_app.html' %}


<script type='module'>
  // This draws three dragable objects and adds some text.
  import { CanvasController, CanvasItem, Marker, WebImage } from "./static/canvas_controller.js";
  import { MovieController } from "./static/canvas_movie_controller.js";
  import { TracerController, trace_movie } from "./static/canvas_tracer_controller.js";
  let params = new URLSearchParams(window.location.search);

  // When the document loads, run the trace_movie() functions.
  $( document ).ready( function() {
    trace_movie('div#tracer', params.get('movie_id'), api_key);
  });


</script>
{% endblock %}
