{% extends 'base.html' %}
{% block title %} PlantTracer Audit Log {% endblock %}

{% block script %}
<script>
const user_id = {{user_id}};                  // not logged in
const api_key = "{{api_key}}";                // no API key yet
const user_primary_course_id   = {{user_primary_course_id}};

</script>
{% endblock %}

{% block body %}

<h2>Audit </h2>

<p>ID: {{user_id}}</p>
<p>Name:  <span id='user-name'  x-user_id='{{user_id}}' x-property='name' >{{user_name}}</span>
          <span class='editor'  x-target='user-name'    onclick='row_pencil_clicked(this)'> ✏️  </span>
</p>
<p>Email: <span id='user-email' x-user_id='{{user_id}}' x-property='email'>{{user_email}}</span>
          <span class='editor'  x-target='user-email'    onclick='row_pencil_clicked(this)'> ✏️  </span>

</p>
<p>Primary course: <span id='course-name'> {{course_name}} ({{user_primary_course_id}}) </span></p>

<h2>Your Movies</h2>
<h3>Published</h3>
<p class='instructions'><i>Published movies can be viewed by anyone in your course. Uncheck the box under 'published' to unpublish the movie. Check the box under 'deleted' to delete the movie.</i></p>
<div class='mtable' id='your-published-movies'></div>

<h3>Unpublished</h3>
<p class='instructions'><i>Unpublished movies can only be published by a course instructor. Check the box under 'deleted' to delete a movie.</i></p>
<div class='mtable' id='your-unpublished-movies'></div>

<h3>Deleted</h3>
<p class='instructions'><i>Deleted movies will be automatically purged after two weeks. To restore a movie, uncheck its 'deleted' box.</i></p>
<div class='mtable' id='your-deleted-movies'></div>

<h2>Your course movies</h2>
<p class='instructions'><i>These are the course movies available to you. Students can only see their own movies and published movies, while the course admin can see all of the movies. </i>
{% if admin %}
You can can publish or unpublish movies by checking or unchecking the 'publish' box.
{% endif %}
</p>

<div class='audit' id='audit'></div>

<script>
$( document ).ready( function() {
   list_audit();
});
</script>
{% endblock %}
