<!DOCTYPE html><!-- -*- mode: html -*- -->
<html lang="en">
  <head>
    <title> {% block title %} {{title}} {% endblock %} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google"   content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- use Pure.css - https://purecss.io/ -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"/>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="static/planttracer.js"></script>

    <script>
      // These variables will be substituted by the template engine
      const version = '0.9.0';
      {% if logged_in %}
      const api_key = "{{api_key}}";
      const user_id = {{user_id}};
      const user_demo = {{user_demo}};
      const user_primary_course_id   = {{user_primary_course_id}};
      const primary_course_name = "{{primary_course_name}}";
      const MAX_FILE_UPLOAD = {{MAX_FILE_UPLOAD}};
      {% else %}
      const api_key = null;
      const user_id = null;
      const user_demo = null;
      const user_primary_course_id = null;
      const primary_course_name = null;
      {% endif %}

      {% if admin %}
      const admin = true;
      {% else %}
      const admin = false;
      {% endif %}

    </script>

    <style>
      html {
      margin-left: 20px;
      margin-right: 20px;
      }
    </style>

    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
  </head>

  <body lang='en-US' style='background:white'>
    <header>
      <!-- menu changes if we are authenticated or not -->
      <div class="pure-menu pure-menu-horizontal">
        {% if admin %}
        <b> ADMIN </b>
        {% endif %}
        <a href="/" class="pure-menu-heading pure-menu-link">PlantTracer</a>
        <ul class="pure-menu-list">
          {% if logged_in %}
          <li class="pure-menu-item">
            <a href="/list" class="pure-menu-link">Movies</a>
          </li>
          <li class="pure-menu-item">
            <a href="/upload" class="pure-menu-link">Upload</a>
          </li>
          <li class="pure-menu-item">
            <a href="/users" class="pure-menu-link">Users</a>
          </li>
          {% if admin %}
          <li class="pure-menu-item">
            <a href="/audit" class="pure-menu-link">Audit</a>
          </li>
          {% endif %}
          {% else %}
          <li class="pure-menu-item">
            <a href="/register" class="pure-menu-link">Register</a>
          </li>
          <li class="pure-menu-item">
            <a href="/resend" class="pure-menu-link">Resend</a>
          </li>
          {% endif %}
          <li class="pure-menu-item">
            <a href="/about" class="pure-menu-link">About</a>
          </li>
          <li class="pure-menu-item">
            <a href="/privacy" class="pure-menu-link">Privacy</a>
          </li>
          {% if logged_in %}
          <li class="pure-menu-item">
            <a href="/logout" class="pure-menu-link">Logout</a>
          </li>
          {% else %}
          <li class="pure-menu-item">
            <a href="/login" class="pure-menu-link">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </header>

    {% if logged_in %}
    <div>
      {{user_name}} ({{user_id}}) Course: {{primary_course_name}}
    </div>
    {% endif %}


    {% block body %}
    {% endblock %}

    <div id='message'></div>
    <footer>
      <p id="copyright"><a href='/tos'>Copyright &#169; 2023, 2024</a></p>
      <hr/>
      <p><small>ver {{version}} {{git_last_commit}} {{git_head_time}} ({{dbreader_host}})</small></p>
    </footer>
  </body>
</html>
