<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {% block title %}{% endblock %} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google"   content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
  </head>

  <body lang='en-US' style='background:white'>
    <header>
      <h1>Plant Tracer</h1>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
      <p id="copyright">Copyright &copy; 2023 Plant Tracer Project</p>
    </footer>
  </body>
</html>
