<!-- -*- mode: html -*- -->
<!-- index.html - this is the home page of the plant tracer app website -->

{% extends 'base.html' %}

{% block body %}
<h2> Welcome Plant Tracer! </h2>

<p>A method to explore the genetics of plant movement</p>

{% if logged_in %}
{% if demo_mode %}
<b>This is the Plant Tracer Demo!</b>
{% endif %}

<i>You are logged in. You can:</i>
<ul>
    <li><a href='/list'> List the movies that you can work with</a></li>
    <li><a href='/upload'> Upload a new movie</a></li>
</ul>

{% else %}

<i>You are not logged in. You can:</i>
To log into the PlantTracer website, you need to click on the account
login link sent by this website. You get the link by registering for a new account by
clicking the link below. If you have already registered, please use
the second link below to resend it:
{% include 'register_resend.html' %}
{% endif %}
{% endblock %}
