{% extends 'base.html' %}


{% block body %}
<div id='load_message'><b>{{load_message}}</b></div>

<style>
tr.you {
  color: blue;
}

div.mtable table {
 border:1px solid black;
 border-collapse:collapse;
}

div.mtable input[type=checkbox] {
   color:black;
   background-color: yellow;
   padding: 3px;
}

// table headers for the movie tables.
div.mtable th {
// border:1px solid red;
}

div.mtable td {
 border:1px solid blue;
 padding: 3px;
}

div.mtable td.check {
 text-align:center;
}

input[type=checkbox] {
 width: 20px;
 height: 20px;
}

</style>

<h2>User Info </h2>

<div class='pure-control-group'>
<div class='pure-control-group'>
  <label for='name'>Name</label>
  <span  id='user-name'  x-user_id='{{user_id}}' x-property='name' >{{user_name}}</span>
  <span class='editor'  x-target='user-name' onclick='row_pencil_clicked(this)'> ✏️  </span>
  <span class="pure-form-message-inline">required; click pencil to change</span>
</div>

<div class='pure-control-group'>
  <label for='email'>Email Address</label>
  <span id='user-email' x-user_id='{{user_id}}' x-property='email'>{{user_email}}</span>
  <span class='editor'  x-target='user-email'    onclick='row_pencil_clicked(this)'> ✏️  </span>
  <span class="pure-form-message-inline">required; click pencil to change</span>
</div>

<h2>Your Movies</h2>
<h3>Published</h3>
<p class='instructions'><i>Published movies can be viewed by anyone in your course. Uncheck the box under 'published' to unpublish the movie. Check the box under 'deleted' to delete the movie.</i></p>
<div class='mtable' id='your-published-movies'></div>

<h3>Unpublished</h3>
<p class='instructions'><i>Unpublished movies can only be published by a course instructor. Check the box under 'deleted' to delete a movie.</i></p>
<div class='mtable' id='your-unpublished-movies'></div>

<h3> Course movies for {{primary_course_name}}</h3>
<p class='instructions'><i>These are the course movies available to
    you.</i></p>
<p class='instructions'> Students can only see their own movies and published movies,
    while the course admin can see all of the movies. Students can
  unpublish, delete or undelete their own movies.<p>

{% if admin %}
<p class='instructions'>Admins can publish or unpublish movies by checking or unchecking
the 'publish' box. Admins cannot delete or undelete movies; only
students can delete or undelete their own movies.</p>
{% endif %}
</p>
<div class='mtable' id='course-movies'></div>

<h3>Deleted</h3>
<p class='instructions'><i>Deleted movies will be automatically purged after two weeks. To restore a movie, uncheck its 'deleted' box.</i></p>
<div class='mtable' id='your-deleted-movies'></div>



<script>
$( document ).ready( function() {
   list_movies();
});
</script>
{% endblock %}
