{% extends 'base.html' %}
{% block title %} PlantTracer List, Edit and Play {% endblock %}

{% block script %}
<script>
const user_id = {{user_id}};                  // not logged in
const api_key = "{{api_key}}";                // no API key yet
const planttracer_api_endpoint = "{{planttracer_api_endpoint}}";
const user_primary_course_id   = {{user_primary_course_id}};
</script>
{% endblock %}

{% block body %}

<h2>User Info </h2>

<p>ID: {{id}}</p>
<p>Name: <span id='user-name'></span></p>
<p>Email: <span id='user-email'></span></p>
<p>Primary course: <span id='user-primary-course'></span></p>

<h2>Your Movies</h2>
<h3>Published</h3>
<p class='instructions'><i>Published movies can be viewed by anyone in your course.</i></p>
<div class='mtable' id='your-published-movies'></div>

<h3>Unpublished</h3>
<p class='instructions'><i>Unpublished movies can only be published by a course instructor</i></p>
<div class='mtable' id='your-unpublished-movies'></div>

<h3>Deleted</h3>
<p class='instructions'><i>Deleted movies will be automatically purged after two weeks</i></p>
<div class='mtable' id='your-deleted-movies'></div>

<h2>Your course movies</h2>
<p class='instructions'><i>These are the course movies available to you.</i></p>
<div class='mtable' id='course-movies'></div>

<div id='message'></div>

<style>
div.mtable table {
 border:1px solid black;
 border-collapse:collapse;
 overflow-x:hidden;
}

div.mtable input[type=checkbox] {
   color:black;
   background-color: yellow;
}

div.mtable th {
 border:1px solid red;
}

div.mtable td {
 border:1px solid blue;
}

</style>

<script>
$( document ).ready( function() {
   list_movies();
});
</script>
{% endblock %}
