<!-- -*- mode: html -*- -->
{% extends 'base.html' %}

{% block body %}
<h2> Welcome to PlantTracer </h2>

To log into the PlantTracer website, you need to click on the account
login link sent by this website. You get the link by registering for a new account by
clicking the link below. If you have already registered, please use
the second link below to resend it:

<ul>
<li> <a href='/register'> Register for a new account</a> (you must have a <b>course key</b>).</li>
<li> <a href='/resend'> Resend your account login link</a></li>
</ul>
{% endblock %}
