<!-- -*- mode: html -*- -->
{% extends 'base.html' %}

{% block body %}
<h2> Welcome to PlantTracer </h2>

{% if demo_api_key %}
  {% include 'demo.html' %}
   <hr/>
   <p>You may also log into this server if you have an account.</p>
{% endif %}
<p>To log into the PlantTracer website, you need to click on the account
login link sent by this website. You get the link by registering for a new account by
clicking the link below. If you have already registered, please use
the second link below to resend it:</p>

{% include 'register_resend.html' %}
{% endblock %}
