<!-- -*- mode: html -*- -->
{% extends 'base.html' %}

{% block body %}
<h1>Copyright and Terms of Use</h1>
<p>This website and the Plant Tracer app are covered by the <a href='https://pacebound.pace.edu/terms'>Pace University Website Terms of Service</a></p>

<p>The Plant Tracer Project is a joint authorship and collective work.
  Copyright &#169; by <a href='https://www.pace.edu/profile/eric-brenner'>Eric Brenner</a>, Steve Barber, Simson Garfinkel, JoAnn Juzefyk and Pace
  University.</p>


<p><a href='/privacy'>privacy policy</a></p>

{% endblock %}
